@model List<CrudUsingCore.Models.Student>

<table class="table table-bordered table-hover table-responsive">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FullName</td>
                <td>@student.Email</td>
                <td>
                    <a asp-action="Edit" asp-controller="Name" asp-route-id="@student.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-controller="Name" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
